/* https://colorhunt.co/palette/13712 */

body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .board {
    display: flex;
    flex-wrap: wrap;
} */
.row .p1 {
    background-color: #3fbac2;
}

.row .p2 {
    background-color: #4d606e;
}

.player1 {
    /* background-color: #3fbac2; */
    /* opacity: 0.5; */
}

.player2 {
    /* background-color: #4d606e; */
    /* opacity: 0.5; */
}

.dot {
    height: 1.5vh;
    width: 1.5vh;
    background-color: #f5f5f5;
}

.hl {
    height: 1.5vh;
    width: 10vh;
    background-color: #d3d4d8;
}

.vl {
    width: 1.5vh;
    height: 10vh;
    background-color: #d3d4d8;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    height: 10vh;
    width: 10vh;
    /* background-color: #f5f5f5; */
}

.row {
    display: flex;
}
